{% extends 'base.html' %}

{% block title %}Change your password{% endblock %}

{% block main %}
    {% if validlink %}
        <div class="flex-column">
            <h2>Change your password</h2>
            {% if form.non_field_errors %}
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="POST" class="flex-column gap-big">
                {% csrf_token %}
                {% for field in form %}
                    <div class="flex-column">
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            {% autoescape off %}
                                <i>{{ field.help_text }}</i>
                            {% endautoescape %}
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}
                <button title="Click here to confirm a password reset" 
                        type='submit'>
                    Confirm a password reset
                </button>
            </form>
        </div>
    {% else %}
        <div>
            <h2>This password reset link has expired</h2>
            <a href="{% url 'login' %}">Go back to the login page</a>
        <div>
    {% endif %}
{% endblock %}

